*{
    padding: 0;
margin:0;
}
header{
  background-color: #181818;
    padding: 24px 0;
}
.container{
    max-width: 1200px;
    margin: auto;
}
header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header nav a{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    text-decoration: none;
}
header nav li{
    margin-left: 32px;
    transition: 0.4s;
}
header nav li:hover{
    transform: scale(1.2);
}
header nav li:first-of-type a{
    font-size: 13px;

}
header nav li:first-of-type{
   margin-right: 24px;
}
header nav li:last-of-type a{
color: #000000;
    border-radius: 14px;
    background: #FFFFFF;
    padding: 11px 20px;
}
/*main_banner*/
.main_banner{
    background-image: url("../images/IMAGE.jpg");
    background-size: cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
    box-sizing: border-box;

}
.main_banner  .container{
    max-width: 580px;
    align-items: center;
    margin: inherit;
}
.container-h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}
.container-h1{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    text-align: center;
    color: #FFFFFF;
}
.container-p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #C0C0C0;
}
.what_we_do{
    padding-top: 112px;
    padding-bottom: 100px;
    background-color: black;
}
.what_we_do .container{
max-width: 1168px;
}
.what_we_do h2{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_we_do h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 42px;
}
.d_flex_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.what_we_do .d_flex_container article{
    max-width: 576px;
    position: relative;
    max-height:600px;
    overflow: hidden;
}
.what_we_do .d_flex_container article img{
    display: block;
    width: 100%;
}
.what_we_do .d_flex_container article .description {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 30px 45px 30px 30px;
    box-sizing: border-box;
}
.what_we_do .description h4{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.what_we_do .description p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
    margin-bottom: 20px;
}
.button_read{
    margin: 0;
}

.second_banner{
    background: #000000;
    padding-top: 120px;
    padding-bottom: 120px;
    justify-content: center;
    align-items: flex-end;
}
.second_banner_container{
    align-items: center;
    margin: auto;
    max-width: 1200px;
}
.second_banner_h3{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 15px;
}
.second_banner_h6{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    padding-top: 7px;
    padding-bottom: 82px;
}
.second_banner_img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 82px;
    top: 120px;
}
.third_banner{
    padding-top: 120px;
    padding-bottom: 108px;
    justify-content: center;
   background: black;
}
.third_banner_container{
    margin: auto;
    max-width: 600px;
    text-align: center;
}
.third_banner_container_h5{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    padding-bottom: 15px;
}
.third_banner_container_p{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    padding-bottom: 22px;
    padding-top: 15px;
    text-align: center;
    color: #C0C0C0;
}
.button_read{
    border-radius: 14px;
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    padding: 5px 10px 5px 5px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}
.button_read:before{
    display: inline-block;
    content: "";
    width: 32px;
    height: 32px;
    background-color: #000000;
    border-radius: 50%;
    margin-right: 6px;
}